@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
  --foreground-rgb: 0, 0, 0;
  --primary: #005D50;
  --secondary: #007868;
  --accent: #EDF3EF;
  --muted: #f7f9fb;
  --primaryText: #344256;
  --text80: #65758B;
  --text70:#495057;
  --grayColor: #EDF0F7;
  --lightGreen: #D4EBDD;
  --tableHeader: #E6F6F4;
  --tableHeaderText:#007868;
  --tableBodytext:#495057;
  --tableBorder: #DDE2E5;
  --formBorder:#ACB5BD;
  --formBg:#F8FAFC;
  --formLabel:#676B6E;
  --pending:#F79009;
  --rejected:#F04438;
  --assigned:#2E90FA;
  --completed: #12B76A;
  --closed: #939496;
  --success: #16A249;
  --danger: #ef4444;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background);
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.loginbg::before {
position: absolute;
width: 100%;
height: 50%;
top: 0;
left: 0;
background-color: var(--primary);
content: "";
z-index: 0;
}
.loginbg::after {
position: absolute;
width: 100%;
height: 50%;
top: 0;
left: 0;
background-image: url('/images/login-bg.png');
content: "";
z-index: 1;
}
.mlx_Menu {
  position: relative;
}
/* .mlx_Menu::after {
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
background-image: url('/images/menu-bg.png');
content: "";
z-index: -1;
} */

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(4px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out forwards;
}

    .test-code,
    .physician,
    .partner-name,
    .paitentaddress,
    .patient,
    .serviceaddress,
    .admin-notes,
    .technician,
    .technician-notes {
      text-transform: uppercase !important;
    }

    /* globals.css */
.scrollbar-custom::-webkit-scrollbar { width: 6px; height: 6px; }
.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #ACB5BD; border-radius: 9999px;
}
.scrollbar-custom::-webkit-scrollbar-track { background: #DDE2E5; }

/* Remove Chrome autofill blue background */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #F8FAFC inset !important; /* your input bg */
  box-shadow: 0 0 0 1000px #F8FAFC inset !important;
  -webkit-text-fill-color: #000 !important;
  caret-color: #000 !important;
  border-radius: 12px; /* match your design */
}

.ant-table-wrapper .ant-table-thead > tr > th {
  background-color: var(--tableHeader) !important;
  color: var(--tableHeaderText) !important;
  font-weight: 700 !important;
}
